In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('./data/论坛情绪值.csv')
data

            date   涨跌
0     2010-07-21  1.0
1     2010-07-22  1.0
2     2010-07-23  1.0
3     2010-07-24  1.0
4     2010-07-25  1.0
...          ...  ...
5130  2024-08-06  0.0
5131  2024-08-07  0.0
5132  2024-08-08  1.0
5133  2024-08-09  0.0
5134  2024-08-10  0.0

[5135 rows x 2 columns]

In [4]:
data['date'] = pd.to_datetime(data['date'])

In [5]:
data.dropna(inplace = True)
data.reset_index(drop = True,inplace = True)
data

           date   涨跌
0    2010-07-21  1.0
1    2010-07-22  1.0
2    2010-07-23  1.0
3    2010-07-24  1.0
4    2010-07-25  1.0
...         ...  ...
5130 2024-08-06  0.0
5131 2024-08-07  0.0
5132 2024-08-08  1.0
5133 2024-08-09  0.0
5134 2024-08-10  0.0

[5135 rows x 2 columns]

In [6]:
data = data.iloc[1471:]
data.reset_index(drop = True,inplace = True)
data

           date   涨跌
0    2014-07-31  1.0
1    2014-08-01  1.0
2    2014-08-02  1.0
3    2014-08-03  1.0
4    2014-08-04  0.0
...         ...  ...
3659 2024-08-06  0.0
3660 2024-08-07  0.0
3661 2024-08-08  1.0
3662 2024-08-09  0.0
3663 2024-08-10  0.0

[3664 rows x 2 columns]

In [7]:
data.to_csv('./data/处理后论坛情绪值.csv',header=True,index=False)