In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('./data/处理后数据1.csv')

In [4]:
data

            date  黄金期货价格
0     2014-08-01  256.60
1     2014-08-04  258.90
2     2014-08-05  258.10
3     2014-08-06  257.90
4     2014-08-07  260.50
...          ...     ...
2452  2024-08-27  575.94
2453  2024-08-28  575.16
2454  2024-08-29  575.06
2455  2024-08-30  574.06
2456  2024-09-02  570.82

[2457 rows x 2 columns]

In [5]:
data['date'] = pd.to_datetime(data['date'], format = '%Y-%m-%d')
data

           date  黄金期货价格
0    2014-08-01  256.60
1    2014-08-04  258.90
2    2014-08-05  258.10
3    2014-08-06  257.90
4    2014-08-07  260.50
...         ...     ...
2452 2024-08-27  575.94
2453 2024-08-28  575.16
2454 2024-08-29  575.06
2455 2024-08-30  574.06
2456 2024-09-02  570.82

[2457 rows x 2 columns]

In [6]:
data1 = pd.read_csv('./data/处理后论坛情绪值.csv')
data1

            date   涨跌
0     2014-07-31  1.0
1     2014-08-01  1.0
2     2014-08-02  1.0
3     2014-08-03  1.0
4     2014-08-04  0.0
...          ...  ...
3659  2024-08-06  0.0
3660  2024-08-07  0.0
3661  2024-08-08  1.0
3662  2024-08-09  0.0
3663  2024-08-10  0.0

[3664 rows x 2 columns]

In [7]:
data1['date'] = pd.to_datetime(data1['date'])

In [8]:
data2 = pd.merge(data,data1,how='left',on='date')
data2

           date  黄金期货价格   涨跌
0    2014-08-01  256.60  1.0
1    2014-08-04  258.90  0.0
2    2014-08-05  258.10  0.0
3    2014-08-06  257.90  1.0
4    2014-08-07  260.50  0.0
...         ...     ...  ...
2452 2024-08-27  575.94  NaN
2453 2024-08-28  575.16  NaN
2454 2024-08-29  575.06  NaN
2455 2024-08-30  574.06  NaN
2456 2024-09-02  570.82  NaN

[2457 rows x 3 columns]

In [9]:
data2 = data2.iloc[6:2441]
data2.reset_index(drop = True,inplace = True)
data2

           date  黄金期货价格   涨跌
0    2014-08-11  260.55  0.0
1    2014-08-12  261.00  1.0
2    2014-08-13  261.05  0.0
3    2014-08-14  261.65  0.0
4    2014-08-15  261.40  1.0
...         ...     ...  ...
2430 2024-08-05  559.94  1.0
2431 2024-08-06  554.18  0.0
2432 2024-08-07  556.06  0.0
2433 2024-08-08  556.10  1.0
2434 2024-08-09  560.70  0.0

[2435 rows x 3 columns]

In [10]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2435 entries, 0 to 2434
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2435 non-null   datetime64[ns]
 1   黄金期货价格  2435 non-null   float64
 2   涨跌      2435 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 57.2 KB

In [11]:
data2.rename(columns={'涨跌':'论坛情绪值'}, inplace=True)
data2

           date  黄金期货价格  论坛情绪值
0    2014-08-11  260.55    0.0
1    2014-08-12  261.00    1.0
2    2014-08-13  261.05    0.0
3    2014-08-14  261.65    0.0
4    2014-08-15  261.40    1.0
...         ...     ...    ...
2430 2024-08-05  559.94    1.0
2431 2024-08-06  554.18    0.0
2432 2024-08-07  556.06    0.0
2433 2024-08-08  556.10    1.0
2434 2024-08-09  560.70    0.0

[2435 rows x 3 columns]

In [12]:
data2.to_csv('./data/处理后数据2.csv',header=True,index=False)